*{
    padding: 0px;
    margin: 0px;
}

header{
    width: 100%;
    font-family: 'Merriweather', serif;
    color: #fff;
    background:  linear-gradient(to bottom, rgb(255, 255, 255), rgb(18, 55, 68));
}

header h1{
    text-align: center;
    padding: 20px;
}

main{
    width: 80% ;
    margin: auto;
    margin-top: 50px;
}

h2{
    color: rgb(18, 55, 68);
}

#divEmail{
    border-bottom: 1px solid rgb(18, 55, 68);
    margin: auto;
    width: 80%;
    margin-top: 50px;
    text-align: center;
}

#divSenha{
    border-bottom: 1px solid rgb(18, 55, 68);
    margin: auto;
    margin-top: 50px;
    width: 80%;
    text-align: center;
}

#buttom{
    width: 50%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    border-radius: 20xp;
    text-align: center;
}

#buttom button{
    background-color: rgb(18, 55, 68);
    color: #fff;
    border-radius: 20px;
    width: 100px;
    height: 30px;
}

table{
    width: 80%;
    margin: auto;
    margin-top: 20px;
    color: rgb(18, 55, 68);
}

th{
    border: 1px solid rgb(18, 55, 68);
}

td{
    padding: 5px;
    text-align: center;
    border: 1px solid rgb(18, 55, 68);
}

